body {
    height: 100%;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    color: #5d5a55;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}





.hamburger {
    position: absolute;
    top: 1.875rem;
    right: 1.875rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.2rem;
    z-index: 105;
}
.hamburger:before {
    top: 0;
}
.hamburger span, .hamburger:before, .hamburger:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background: #fff;
    border-radius: 0.1875rem;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*Навыки*/
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
}
.skill-box__skill-img {
    width: 100px;
    height: 100px;
}
.skill-box__skill {
    margin: 10px 5px;
    width: 131px;
    height: 145px;
    line-height: 8vw;
    font-size: 6vw;
    font-weight: normal;
}